
<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p> <%= startingContent %> </p>
    <a href="/compose"><button class="btn btn-primary">Post Your Blog</button></a>


  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <h4>by- <%=post.authorName%></h4>
      <h5><em><%=post.date%></em> <br> <%=post.time%></h5>

    <p><b>Ph no: <%=post.contact%></b></p>

    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
<br>

    <% }) %>


<%- include("partials/footer"); -%>
